In [81]:
cd Downloads

[WinError 2] The system cannot find the file specified: 'Downloads'
C:\Users\chidimmpe\Downloads

https://data.europa.eu/data/datasets/s2190_90_1_478_eng?locale=en

In [82]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [83]:
EU_antibiotics = pd.ExcelFile("EU_antibiotics_country.xls")
print(EU_antibiotics.sheet_names)

['Index', 'B2', 'Q1NAT', 'QC1', 'QC2', 'QC3', 'QC4', 'QC5.1', 'QC5.2', 'QC5.3', 'QC5.4', 'QC5.5', 'QC5R', 'QC6', 'QC7', 'QC8', 'QC9', 'QC10', 'QC11', 'QC12', 'QC13', 'QC14', 'QC15', 'D1.1', 'D1.2', 'D1.3', 'D7.1', 'D7.2', 'D7.3', 'D8', 'D10', 'D11', 'D112', 'D15a.1', 'D15a.2', 'C14', 'D15b.1', 'D15b.2', 'D25', 'D40a', 'D40b', 'D40c', 'D40R', 'D40', 'D43a', 'D43b', 'D43', 'D60', 'D62.1', 'D62.2', 'D62.3', 'D62.4', 'D62R', 'D63', 'D70', 'D79', 'D71.1', 'D71.2', 'D71.3', 'C1', 'C2', 'D72.1', 'D72.2', 'D72.3', 'D73.1', 'D73.2', 'D77', 'D78', 'D80a', 'D80b', 'D81', 'D82', 'D83']

In [84]:
df= pd.read_excel(EU_antibiotics, "Index")
df.head(10)

,B2'!A1,B Pays,Unnamed: 2,Unnamed: 3,B Country,Unnamed: 5,Unnamed: 6
0,Q1NAT'!A1,Q1NAT Quelle est votre nationalité ? Veuillez ...,NaN,NaN,Q1NAT What is your nationality? Please tell me...,NaN,NaN
1,QC1'!A1,QC1 Avez-vous pris des antibiotiques par voie ...,NaN,('QUESTION SENSIBLE'),QC1 Have you taken any antibiotics orally such...,NaN,('SENSITIVE QUESTION')
2,QC2'!A1,QC2 Comment avez-vous obtenu le dernier traite...,NaN,"(SI 'OUI', CODE 1 EN QC1)",QC2 How did you obtain the last course of anti...,NaN,"(IF 'YES', CODE 1 IN QC1)"
3,QC3'!A1,QC3 Quelle était la raison pour laquelle vous ...,NaN,"(SI 'OUI', CODE 1 EN QC1)",QC3 What was the reason for last taking the an...,NaN,"(IF 'YES', CODE 1 IN QC1)"
4,QC4'!A1,"QC4 Avez-vous fait un examen, tel qu'une prise...",NaN,"(SI 'OUI', CODE 1 EN QC1)","QC4 Did you have a test, for example a blood o...",NaN,"(IF 'YES', CODE 1 IN QC1)"
5,QC5.1'!A1,"QC5.1 Pour chacune des propositions suivantes,...",Les antibiotiques tuent les virus,NaN,"QC5.1 For each of the following statements, pl...",Antibiotics kill viruses,NaN
6,QC5.2'!A1,"QC5.2 Pour chacune des propositions suivantes,...",Les antibiotiques sont efficaces contre le rhume,NaN,"QC5.2 For each of the following statements, pl...",Antibiotics are effective against colds,NaN
7,QC5.3'!A1,"QC5.3 Pour chacune des propositions suivantes,...",La prise inutile d’antibiotiques les rend inef...,NaN,"QC5.3 For each of the following statements, pl...",Unnecessary use of antibiotics makes them beco...,NaN
8,QC5.4'!A1,"QC5.4 Pour chacune des propositions suivantes,...",La prise d’antibiotiques a souvent des effets ...,NaN,"QC5.4 For each of the following statements, pl...",Taking antibiotics often has side-effects such...,NaN
9,QC5.5'!A1,"QC5.5 Pour chacune des propositions suivantes,...",Moyenne,NaN,"QC5.5 For each of the following statements, pl...",Average,NaN

Index lists the titles of the sheets and the issues they address

In [85]:
list(df["B Country"])

['Q1NAT What is your nationality? Please tell me the country(ies) that applies(y). MULTIPLE ANSWERS POSSIBLE',
 'QC1 Have you taken any antibiotics orally such as tablets, powder or syrup in the last 12 months? ',
 'QC2 How did you obtain the last course of antibiotics that you used? ',
 'QC3 What was the reason for last taking the antibiotics that you used? (MULTIPLE ANSWERS POSSIBLE)',
 'QC4 Did you have a test, for example a blood or urine test, or throat swab, to find out what was causing your illness, before or at the same time as you started antibiotics ? ',
 'QC5.1 For each of the following statements, please tell me whether you think it is true or false. ',
 'QC5.2 For each of the following statements, please tell me whether you think it is true or false. ',
 'QC5.3 For each of the following statements, please tell me whether you think it is true or false. ',
 'QC5.4 For each of the following statements, please tell me whether you think it is true or false. ',
 'QC5.5 For each of the following statements, please tell me whether you think it is true or false. ',
 'QC5R For each of the following statements, please tell me whether you think it is true or false. ',
 'QC6 When do you think you should stop taking antibiotics once you have begun a course of treatment? ',
 'QC7 In the last 12 months, do you remember getting any information about not taking antibiotics unnecessarily, for example for a cold? ',
 'QC8 Where did you get this information about not taking antibiotics unnecessarily? (MULTIPLE ANSWERS POSSIBLE)',
 'QC9 Did the information that you received change your views on using antibiotics? ',
 'QC10 On the basis of the information you received, how do you now plan to use antibiotics? (MULTIPLE ANSWERS POSSIBLE)',
 'QC11 On which topics, if any, would you like to receive more information? (MULTIPLE ANSWERS POSSIBLE)',
 'QC12 Which of the following sources of information would you use in order to get trustworthy information on antibiotics? (MAX. 3 ANSWERS)',
 'QC13 At what level do you believe it is most effective to tackle the resistance to antibiotics? ',
 'QC14 To what extent do you agree or disagree that sick farm animals should be treated with antibiotics if this is the most appropriate treatment? ',
 'QC15 Did you know that using antibiotics to stimulate growth in farm animals is banned within the EU? ',
 'D1.1 In political matters people talk of "the left" and "the right". How would you place your views on this scale? ',
 'D1.2 In political matters people talk of "the left" and "the right". How would you place your views on this scale? ',
 'D1.3 In political matters people talk of "the left" and "the right". How would you place your views on this scale? ',
 'D7.1 Which of the following best corresponds to your own current situation? ',
 'D7.2 Which of the following best corresponds to your own current situation? ',
 'D7.3 Which of the following best corresponds to your own current situation? ',
 'D8 How old were you when you stopped full-time education? ',
 'D10 Gender. ',
 'D11 How old are you?',
 'D11 How old are you?',
 'D15a.1 What is your current occupation? ',
 'D15a.2 What is your current occupation? ',
 'C14 Socio-professional category',
 'D15b.1 Did you do any paid work in the past? What was your last occupation? ',
 'D15b.2 Did you do any paid work in the past? What was your last occupation? ',
 'D25 Would you say you live in a...? ',
 'D40a Could you tell me how many people aged 15 years or more live in your household, yourself included? ',
 'D40b Could you tell me how many children less than 10 years old live in your household? ',
 'D40c Could you tell me how many children aged 10 to 14 years old live in your household? ',
 'D40R - Household composition',
 'D40 - One-person households composition',
 'D43a Do you own a fixed telephone in your household? ',
 'D43b Do you own a personal mobile telephone? ',
 'D43 - Landline / mobile',
 'D60 During the last twelve months, would you say you had difficulties to pay your bills at the end of the month…? ',
 'D62.1 Could you tell me if…? (SHOW SCREEN – READ OUT – ONE ANSWER PER LINE)',
 'D62.2 Could you tell me if…? (SHOW SCREEN – READ OUT – ONE ANSWER PER LINE)',
 'D62.3 Could you tell me if…? (SHOW SCREEN – READ OUT – ONE ANSWER PER LINE)',
 'D62.4 Could you tell me if…? (SHOW SCREEN – READ OUT – ONE ANSWER PER LINE)',
 'D62R - Use of the Internet',
 'D63 Do you see yourself and your household belonging to…? ',
 'D70 On the whole, are you very satisfied, fairly satisfied, not very satisfied or not at all satisfied with the life you lead? ',
 "D79 In your opinion, in five years' time, do you think that your life conditions will be better, worse, or the same than today? ",
 'D71.1 When you get together with friends or relatives, would you say you discuss frequently, occasionally or never about...? ',
 'D71.2 When you get together with friends or relatives, would you say you discuss frequently, occasionally or never about...? ',
 'D71.3 When you get together with friends or relatives, would you say you discuss frequently, occasionally or never about...? ',
 'C1 Opinion leadership index',
 'C2  - Political interest index',
 'D72.1 Please tell me to what extent you agree or disagree with each of the following statements. ',
 'D72.2 Please tell me to what extent you agree or disagree with each of the following statements. ',
 'D72.3 Please tell me to what extent you agree or disagree with each of the following statements. ',
 'D73.1 At the present time, would you say that, in general, things are going in the right direction or in the wrong direction, in…? ',
 'D73.2 At the present time, would you say that, in general, things are going in the right direction or in the wrong direction, in…? ',
 'D77 When you hold a strong opinion, do you ever find yourself persuading your friends, relatives or fellow workers to share your views? Does this happen...? ',
 'D78 In general, does the EU conjure up for you a very positive, fairly positive, neutral, fairly negative or very negative image? ',
 'D80a On the whole, are you very satisfied, fairly satisfied, not very satisfied or not at all satisfied with the way democracy works in (OUR COUNTRY)? ',
 'D80b And how about the way democracy works in the EU? ',
 'D81 Please tell me if you tend to trust it or tend not to trust political parties. ',
 'D82 In your opinion, are the inequalities between the different social classes in (OUR COUNTRY) currently very important, fairly important, not very important or not at all important? ',
 "D83 And do you think that in five years' time, the inequalities between the different social classes in (OUR COUNTRY) will be...: "]

I will basically limit this analyses to the sheets that adress questions related to antibiotics resistance and its awareness  level in the EU countries

The sheet that deals with nationality will be assigned as"nationality" This gives the information about the countries on the vertical axis and their abbreviations on the horizontal axis. I will be using this information to rename the abbreviations to the countries' full names

In [86]:
Nationality= pd.read_excel(EU_antibiotics, "B2", skiprows = 7, header = [1])
#Drop the "UE28\nEU28" as it is not relevant to this analyses. It specifies the percentage of  respondents in the EU sample
Nationality= Nationality.drop(["UE28\nEU28", "Unnamed: 0"], axis = 1)
Nationality.rename(columns ={"Unnamed: 1":"Country"}, inplace = True)

Nationality.head(70)

,Country,BE,BG,CZ,DK,D-W,DE,D-E,EE,IE,...,NL,AT,PL,PT,RO,SI,SK,FI,SE,UK
0,TOTAL,1018,1040,1012,1015,1006,1507,501,1017,1001,...,1044,1007,1034,1016,1007,1018,1042,1011,1011,1000
1,BELGIQUE,1018,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,1,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,DANMARK,0,0,0,1015,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,-,-,-,1,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,NaN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,1,-,-,-,-
57,TURKIYE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58,NaN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
59,HRVATSKA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60,NaN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [87]:
Nationality.dropna()

,Country,BE,BG,CZ,DK,D-W,DE,D-E,EE,IE,...,NL,AT,PL,PT,RO,SI,SK,FI,SE,UK
0,TOTAL,1018,1040,1012,1015,1006,1507,501,1017,1001,...,1044,1007,1034,1016,1007,1018,1042,1011,1011,1000
1,BELGIQUE,1018,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,DANMARK,0,0,0,1015,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,ELLADA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,ESPANA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,SUOMI,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1011,0,0
11,FRANCE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,IRELAND,0,0,0,0,0,0,0,0,1001,...,0,0,0,0,0,0,0,0,0,0
15,ITALIA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,LUXEMBOURG,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,NEDERLAND,0,0,0,0,0,0,0,0,0,...,1044,0,0,0,0,0,0,0,0,0
21,ÖSTERREICH,0,0,0,0,0,0,0,0,0,...,0,1007,0,0,0,0,0,0,0,0
23,PORTUGAL,0,0,0,0,0,0,0,0,0,...,0,0,0,1016,0,0,0,0,0,0
25,SVERIGE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1011,0
27,DEUTSCHLAND WEST,0,0,0,0,1006,1207,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,DEUTSCHLAND OST,0,0,0,0,0,300,501,0,0,...,0,0,0,0,0,0,0,0,0,0
31,UNITED KINGDOM,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1000
33,BALGARIJA,0,1040,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,KYPROS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,CESKA REPUBLIKA,0,0,1012,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,EESTI,0,0,0,0,0,0,0,1017,0,...,0,0,0,0,0,0,0,0,0,0
41,MAGYARORSZAG,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,LATVIA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,LIETUVA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,MALTA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,POLSKA,0,0,0,0,0,0,0,0,0,...,0,0,1034,0,0,0,0,0,0,0
51,ROMANIA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1007,0,0,0,0,0
53,SLOVENSKA REPUBLIC,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1042,0,0,0
55,SLOVENIJA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1018,0,0,0,0
57,TURKIYE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59,HRVATSKA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [88]:
for col in Nationality:
    print(col)

Country
BE
BG
CZ
DK
D-W
DE
D-E
EE
IE
EL
ES
FR
HR
IT
CY
LV
LT
LU
HU
MT
NL
AT
PL
PT
RO
SI
SK
FI
SE
UK

https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Country_codes. I will use the details here to edit the country names in the dataframes

Question 1 (QC1) is Have you taken any antibiotics orally such as tablets, powder or syrup in the last 12 months?

In [103]:
Question_1= pd.read_excel(EU_antibiotics, "QC1", skiprows = 7, header = [1])
Question_1= Question_1.drop(["UE28\nEU28", "Unnamed: 0"], axis = 1)
Question_1.rename(columns ={"Unnamed: 1":"Response", "BE": "Belgium", "BG": "Bulgaria", "CZ": "Czech Republic", 
                          "DK": "Denmark", "D-W": "West Germany", "DE": "East Germany", "D-E": "Eastern Germany", "EE": "Estonia", 
                           "IE": "Ireland", "EL" :"Greece" , "ES":"Spain", "FR":"France", "HR":"Croatia", "IT":"Italy","CY":"Cyprus",
                           "LV":"Latvia", "LT": "Lithuania", "LU": "Luxembourg", "HU":"Hungary", "MT":"Malta", "NL":"Netherlands", 
                            "AT":"Austria", "PL": "Poland", "PT":"Portugal", "RO": "Romania", "SI":"Slovenia", "SK":"Slovekia",
                          "FI":"Finland", "SE": "Sweden", "UK":"United Kingdom" }, inplace = True)
Question_1 = Question_1.set_index("Response")
Question_1 =Question_1.loc[["TOTAL", "Oui", "Non", "Refus (SPONTANÉ)", "NSP"]]
Question_1= Question_1.rename(index= {"Oui":"Yes", "Non":"No", "Refus (SPONTANÉ)": "Refusal", "NSP": "I dont know"})
Question_1.reset_index(drop = True)
Question_1.head()

,Belgium,Bulgaria,Czech Republic,Denmark,West Germany,East Germany,Eastern Germany,Estonia,Ireland,Greece,...,Netherlands,Austria,Poland,Portugal,Romania,Slovenia,Slovekia,Finland,Sweden,United Kingdom
Response,,,,,,,,,,,,,,,,,,,,,
TOTAL,960,1018,900,979,967.0,1454,490,960,969,986,...,1039,936,957,990,982,993,981,992,1010,932
Yes,320,348,250,271,213.0,332,127,310,389,309,...,222,288,233,317,280,234,335,254,200,288
No,639,659,642,701,739.0,1102,359,646,576,677,...,809,641,716,668,696,758,630,729,807,637
Refusal,1,0,1,1,5.0,7,1,0,2,0,...,1,6,3,1,1,0,0,2,0,2
I dont know,0,12,8,5,9.0,13,2,4,1,0,...,7,1,5,4,6,1,15,7,3,4

To check if the countrynames reflected as desired

In [90]:
for col in Question_1:
    print (col)

Response
Belgium
Bulgaria
Czech Republic
Denmark
West Germany
East Germany
Eastern Germany
Estonia
Ireland
Greece
Spain
France
Croatia
Italy
Cyprus
Latvia
Lithuania
Luxembourg
Hungary
Malta
Netherlands
Austria
Poland
Portugal
Romania
Slovenia
Slovekia
Finland
Sweden
United Kingdom

Question 2 (QC2) How did you obtain the last course of antibiotics that you used?

In [114]:
Question_2= pd.read_excel(EU_antibiotics, "QC2", skiprows = 7, header = [1])
Question_2= Question_2.drop(["UE28\nEU28", "Unnamed: 0"], axis = 1)
Question_2.rename(columns ={"Unnamed: 1":"Response", "BE": "Belgium", "BG": "Bulgaria", "CZ": "Czech Republic", 
                          "DK": "Denmark", "D-W": "West Germany", "DE": "East Germany", "D-E": "Eastern Germany", "EE": "Estonia", 
                           "IE": "Ireland", "EL" :"Greece" , "ES":"Spain", "FR":"France", "HR":"Croatia", "IT":"Italy","CY":"Cyprus",
                           "LV":"Latvia", "LT": "Lithuania", "LU": "Luxembourg", "HU":"Hungary", "MT":"Malta", "NL":"Netherlands", 
                            "AT":"Austria", "PL": "Poland", "PT":"Portugal", "RO": "Romania", "SI":"Slovenia", "SK":"Slovekia",
                          "FI":"Finland", "SE": "Sweden", "UK":"United Kingdom" }, inplace = True)
Question_2 = Question_2.set_index("Response")
Question_2 =Question_2.loc[["TOTAL", "Sur prescription médicale", "Administré par une personne du corps médical", "Il vous en restait d’un précédent traitement",
"Sans prescription, dans une pharmacie", "Sans prescription, ailleurs", "Ne se souvient pas (SPONTANÉ)",
"Refus (SPONTANÉ)", "NSP", "Total 'De la part dune personne du corps medical'"]]
Question_2= Question_2.rename(index= { "Sur prescription médicale":"From a medical prescription",
                                      "Administré par une personne du corps médical":"Administered by a medical practitioner",
                                      "Il vous en restait d’un précédent traitement":"You had some left over from a previous course",
                                      "Sans prescription, dans une pharmacie":"Without prescription from a pharmacy",
                                      "Sans prescription, ailleurs":"Without prescription from elsewhere",
                                     "Ne se souvient pas (SPONTANÉ)":"Don't remember (SPONTANEOUS)", "Refus (SPONTANÉ)": "Refusal", "NSP": "I dont know",
                                                "Total 'De la part dune personne du corps medical'":"Total 'From a medical practitioner '"})
Question_2.reset_index(drop = True)
Question_2.head(10)

,Belgium,Bulgaria,Czech Republic,Denmark,West Germany,East Germany,Eastern Germany,Estonia,Ireland,Greece,...,Netherlands,Austria,Poland,Portugal,Romania,Slovenia,Slovekia,Finland,Sweden,United Kingdom
Response,,,,,,,,,,,,,,,,,,,,,
TOTAL,320,348,250,271,213,332,127,310,389,309,...,222,288,233,317,280,234,335,254,200,288
From a medical prescription,236,95,183,167,188,282,95,187,215,160,...,147,216,178,224,150,191,264,208,111,190
Administered by a medical practitioner,40,204,58,86,17,35,23,99,142,122,...,73,26,45,60,86,29,29,39,85,87
You had some left over from a previous course,20,21,3,1,1,1,0,7,5,6,...,0,23,4,18,13,10,8,4,1,1
Without prescription from a pharmacy,21,26,3,10,6,12,7,13,19,20,...,0,17,6,13,23,5,33,3,4,7
Without prescription from elsewhere,2,0,3,6,2,3,1,1,8,2,...,2,2,0,1,6,0,1,0,0,1
Don't remember (SPONTANEOUS),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Refusal,1,1,0,0,0,0,0,3,0,0,...,0,1,0,0,0,0,0,0,0,0
I dont know,0,1,0,1,0,0,0,0,0,0,...,0,1,0,0,2,0,0,1,0,1
Total 'From a medical practitioner ',277,299,241,253,205,317,118,286,357,282,...,219,243,222,284,236,220,293,247,196,277

QC3 What was the reason for last taking the antibiotics that you used? (MULTIPLE ANSWERS POSSIBLE)

In [93]:
Question_3= pd.read_excel(EU_antibiotics, "QC3", skiprows = 7, header = [1])
Question_3= Question_3.drop(["UE28\nEU28", "Unnamed: 0"], axis = 1)
Question_3.rename(columns ={"Unnamed: 1":"Response", "BE": "Belgium", "BG": "Bulgaria", "CZ": "Czech Republic", 
                          "DK": "Denmark", "D-W": "West Germany", "DE": "East Germany", "D-E": "Eastern Germany", "EE": "Estonia", 
                           "IE": "Ireland", "EL" :"Greece" , "ES":"Spain", "FR":"France", "HR":"Croatia", "IT":"Italy","CY":"Cyprus",
                           "LV":"Latvia", "LT": "Lithuania", "LU": "Luxembourg", "HU":"Hungary", "MT":"Malta", "NL":"Netherlands", 
                            "AT":"Austria", "PL": "Poland", "PT":"Portugal", "RO": "Romania", "SI":"Slovenia", "SK":"Slovekia",
                          "FI":"Finland", "SE": "Sweden", "UK":"United Kingdom" }, inplace = True)
Question_3 = Question_3.set_index("Response")
Question_3 =Question_3.loc[["TOTAL", "Oui", "Non", "Refus (SPONTANÉ)", "NSP"]]
Question_3= Question_3.rename(index= {"Oui":"Yes", "Non":"No", "Refus (SPONTANÉ)": "Refusal", "NSP": "I dont know"})
Question_3.reset_index(drop = True)
Question_3.head()

,Response,Belgium,Bulgaria,Czech Republic,Denmark,West Germany,East Germany,Eastern Germany,Estonia,Ireland,...,Netherlands,Austria,Poland,Portugal,Romania,Slovenia,Slovekia,Finland,Sweden,United Kingdom
0,TOTAL,320,348,250.00,271,213.00,332.00,127.00,310.00,389.00,...,222,288,233.00,317,280.00,234.00,335.00,254.00,200,288.00
1,Une pneumonie (une infection qui cause une inf...,24,25,13.00,40,8.00,12.00,3.00,18.00,17.00,...,33,31,14.00,16,19.00,22.00,13.00,19.00,20,16.00
2,Pneumonia (an infection causing an inflammatio...,0.08,0.07,0.05,0.15,0.04,0.04,0.03,0.06,0.04,...,0.15,0.11,0.06,0.05,0.07,0.09,0.04,0.07,0.1,0.06
3,Une bronchite (une inflammation et un encombre...,48,83,67.00,14,22.00,36.00,16.00,34.00,62.00,...,17,64,50.00,26,36.00,20.00,81.00,32.00,5,28.00
4,Bronchitis (inflammation and swelling of the b...,0.15,0.24,0.27,0.05,0.10,0.11,0.12,0.11,0.16,...,0.08,0.22,0.22,0.08,0.13,0.09,0.24,0.12,0.02,0.10
5,Une rhinopharyngite (une inflammation de la mu...,38,16,17.00,40,4.00,6.00,2.00,22.00,15.00,...,32,26,20.00,27,15.00,10.00,21.00,40.00,24,12.00
6,Rhinopharyngitis (inflammation of the mucous m...,0.12,0.05,0.07,0.15,0.02,0.02,0.01,0.07,0.04,...,0.14,0.09,0.09,0.09,0.05,0.04,0.06,0.16,0.12,0.04
7,La grippe,60,73,27.00,21,28.00,47.00,23.00,22.00,54.00,...,6,44,26.00,39,32.00,16.00,65.00,20.00,7,24.00
8,Flu,0.19,0.21,0.11,0.08,0.13,0.14,0.18,0.07,0.14,...,0.03,0.15,0.11,0.12,0.11,0.07,0.19,0.08,0.04,0.08
9,Un rhume,46,45,10.00,6,30.00,47.00,17.00,38.00,37.00,...,2,28,37.00,24,66.00,22.00,26.00,2.00,7,17.00

QC4 Did you have a test, for example a blood or urine test, or throat swab, to find out what was causing your illness, before or at the same time as you started antibiotics ?

In [94]:
Question_4= pd.read_excel(EU_antibiotics, "QC4", skiprows = 7, header = [1])
Question_4= Question_4.drop(["UE28\nEU28", "Unnamed: 0"], axis = 1)
Question_4.rename(columns ={"Unnamed: 1":"Response", "BE": "Belgium", "BG": "Bulgaria", "CZ": "Czech Republic", 
                          "DK": "Denmark", "D-W": "West Germany", "DE": "East Germany", "D-E": "Eastern Germany", "EE": "Estonia", 
                           "IE": "Ireland", "EL" :"Greece" , "ES":"Spain", "FR":"France", "HR":"Croatia", "IT":"Italy","CY":"Cyprus",
                           "LV":"Latvia", "LT": "Lithuania", "LU": "Luxembourg", "HU":"Hungary", "MT":"Malta", "NL":"Netherlands", 
                            "AT":"Austria", "PL": "Poland", "PT":"Portugal", "RO": "Romania", "SI":"Slovenia", "SK":"Slovekia",
                          "FI":"Finland", "SE": "Sweden", "UK":"United Kingdom" }, inplace = True)
Question_4.reset_index(drop = True)
Question_4.head(10)

,Response,Belgium,Bulgaria,Czech Republic,Denmark,West Germany,East Germany,Eastern Germany,Estonia,Ireland,...,Netherlands,Austria,Poland,Portugal,Romania,Slovenia,Slovekia,Finland,Sweden,United Kingdom
0,TOTAL,320,348,250,271,213,332,127,310,389,...,222,288,233,317,280,234,335,254,200,288
1,Oui,166,153,181,148,72,116,50,212,160,...,107,143,92,119,111,164,142,144,121,125
2,Yes,0.52,0.44,0.72,0.55,0.34,0.35,0.39,0.68,0.41,...,0.48,0.5,0.4,0.38,0.4,0.7,0.42,0.57,0.61,0.43
3,Non,150,182,60,121,125,192,71,92,221,...,113,122,137,195,158,65,184,108,77,158
4,No,0.47,0.52,0.24,0.44,0.58,0.58,0.56,0.3,0.57,...,0.51,0.42,0.59,0.62,0.56,0.28,0.55,0.42,0.38,0.55
5,Ne se souvient pas (SPONTANÉ),0,9,7,0,11,17,6,1,4,...,1,10,1,1,3,4,2,0,2,3
6,Don't remember (SPONTANEOUS),-,0.03,0.03,-,0.05,0.05,0.04,-,0.01,...,0.01,0.03,-,-,0.01,0.02,0.01,-,0.01,0.01
7,Ne souhaite pas répondre (SPONTANÉ),4,2,0,0,2,2,0,2,1,...,0,10,2,0,5,0,2,0,0,0
8,Do not wish to answer (SPONTANEOUS),0.01,0.01,-,-,0.01,0.01,-,0.01,-,...,-,0.04,0.01,-,0.02,-,0.01,-,-,-
9,Refus (SPONTANÉ),0,1,0,1,0,0,0,1,2,...,0,0,0,0,0,1,2,0,0,0

QC5.1 For each of the following statements, please tell me whether you think it is true or false.

In [95]:
Question_5_1= pd.read_excel(EU_antibiotics, "QC5.1", skiprows = 7, header = [1])
Question_5_1= Question_5_1.drop(["UE28\nEU28", "Unnamed: 0"], axis = 1)
Question_5_1.rename(columns ={"Unnamed: 1":"Response", "BE": "Belgium", "BG": "Bulgaria", "CZ": "Czech Republic", 
                          "DK": "Denmark", "D-W": "West Germany", "DE": "East Germany", "D-E": "Eastern Germany", "EE": "Estonia", 
                           "IE": "Ireland", "EL" :"Greece" , "ES":"Spain", "FR":"France", "HR":"Croatia", "IT":"Italy","CY":"Cyprus",
                           "LV":"Latvia", "LT": "Lithuania", "LU": "Luxembourg", "HU":"Hungary", "MT":"Malta", "NL":"Netherlands", 
                            "AT":"Austria", "PL": "Poland", "PT":"Portugal", "RO": "Romania", "SI":"Slovenia", "SK":"Slovekia",
                          "FI":"Finland", "SE": "Sweden", "UK":"United Kingdom" }, inplace = True)
Question_5_1.reset_index(drop = True)
Question_5_1.head(10)

,Response,Belgium,Bulgaria,Czech Republic,Denmark,West Germany,East Germany,Eastern Germany,Estonia,Ireland,...,Netherlands,Austria,Poland,Portugal,Romania,Slovenia,Slovekia,Finland,Sweden,United Kingdom
0,TOTAL,1018.00,1040.00,1012.00,1015.00,1006.00,1507.00,501.00,1017.00,1001.00,...,1044.00,1007.00,1034.00,1016.00,1007.00,1018.00,1042.00,1011.00,1011.00,1000.00
1,Vraie,468.00,582.00,590.00,406.00,410.00,652.00,268.00,506.00,483.00,...,364.00,681.00,489.00,645.00,566.00,537.00,577.00,367.00,226.00,410.00
2,True,0.46,0.56,0.58,0.40,0.41,0.43,0.53,0.50,0.48,...,0.35,0.68,0.47,0.64,0.56,0.53,0.55,0.36,0.22,0.41
3,Fausse,518.00,278.00,345.00,521.00,498.00,712.00,191.00,369.00,463.00,...,632.00,284.00,412.00,289.00,367.00,400.00,406.00,563.00,746.00,485.00
4,False,0.51,0.27,0.34,0.51,0.49,0.47,0.38,0.36,0.46,...,0.60,0.28,0.40,0.28,0.37,0.39,0.39,0.56,0.74,0.49
5,NSP,33.00,179.00,78.00,88.00,98.00,143.00,43.00,142.00,55.00,...,48.00,42.00,133.00,82.00,74.00,81.00,59.00,81.00,40.00,104.00
6,DK.,0.03,0.17,0.08,0.09,0.10,0.10,0.09,0.14,0.06,...,0.05,0.04,0.13,0.08,0.07,0.08,0.06,0.08,0.04,0.10

QC5.2 For each of the following statements, please tell me whether you think it is true or false.
Antibiotics are effective against colds

In [ ]:
Question_5_2= pd.read_excel(EU_antibiotics, "QC5.2", skiprows = 7, header = [1])
Question_5_2= Question_5_2.drop(["UE28\nEU28", "Unnamed: 0"], axis = 1)
Question_5_2.head(10)

QC5.3 For each of the following statements, please tell me whether you think it is true or false.
Unnecessary use of antibiotics makes them become ineffective

In [ ]:
Question_5_3= pd.read_excel(EU_antibiotics, "QC5.3", skiprows = 7, header = [1])
Question_5_3= Question_5_3.drop(["UE28\nEU28", "Unnamed: 0"], axis = 1)
Question_5_3.rename(columns ={"Unnamed: 1":"Response", "BE": "Belgium", "BG": "Bulgaria", "CZ": "Czech Republic", 
                          "DK": "Denmark", "D-W": "West Germany", "DE": "East Germany", "D-E": "Eastern Germany", "EE": "Estonia", 
                           "IE": "Ireland", "EL" :"Greece" , "ES":"Spain", "FR":"France", "HR":"Croatia", "IT":"Italy","CY":"Cyprus",
                           "LV":"Latvia", "LT": "Lithuania", "LU": "Luxembourg", "HU":"Hungary", "MT":"Malta", "NL":"Netherlands", 
                            "AT":"Austria", "PL": "Poland", "PT":"Portugal", "RO": "Romania", "SI":"Slovenia", "SK":"Slovekia",
                          "FI":"Finland", "SE": "Sweden", "UK":"United Kingdom" }, inplace = True)
Question_5_3.reset_index(drop = True)
Question_5_3.head(10)

QC15 Did you know that using antibiotics to stimulate growth in farm animals is banned within the EU?

In [96]:
Question_15= pd.read_excel(EU_antibiotics, "QC15", skiprows = 7, header = [1])
Question_15= Question_15.drop(["UE28\nEU28", "Unnamed: 0"], axis = 1)
Question_15.rename(columns ={"Unnamed: 1":"Response", "BE": "Belgium", "BG": "Bulgaria", "CZ": "Czech Republic", 
                          "DK": "Denmark", "D-W": "West Germany", "DE": "East Germany", "D-E": "Eastern Germany", "EE": "Estonia", 
                           "IE": "Ireland", "EL" :"Greece" , "ES":"Spain", "FR":"France", "HR":"Croatia", "IT":"Italy","CY":"Cyprus",
                           "LV":"Latvia", "LT": "Lithuania", "LU": "Luxembourg", "HU":"Hungary", "MT":"Malta", "NL":"Netherlands", 
                            "AT":"Austria", "PL": "Poland", "PT":"Portugal", "RO": "Romania", "SI":"Slovenia", "SK":"Slovekia",
                          "FI":"Finland", "SE": "Sweden", "UK":"United Kingdom" }, inplace = True)
Question_15.reset_index(drop = True)
Question_15.head(10)

,Response,Belgium,Bulgaria,Czech Republic,Denmark,West Germany,East Germany,Eastern Germany,Estonia,Ireland,...,Netherlands,Austria,Poland,Portugal,Romania,Slovenia,Slovekia,Finland,Sweden,United Kingdom
0,TOTAL,1018.00,1040.00,1012.00,1015.00,1006.00,1507.00,501.00,1017.00,1001.00,...,1044.00,1007.00,1034.00,1016.00,1007.00,1018.00,1042.00,1011.00,1011.00,1000.00
1,Oui,447.00,341.00,385.00,336.00,372.00,553.00,177.00,274.00,419.00,...,559.00,408.00,449.00,330.00,212.00,407.00,412.00,464.00,372.00,287.00
2,Yes,0.44,0.33,0.38,0.33,0.37,0.37,0.35,0.27,0.42,...,0.54,0.41,0.43,0.33,0.21,0.40,0.39,0.46,0.37,0.29
3,Non,563.00,593.00,597.00,637.00,594.00,893.00,301.00,698.00,551.00,...,470.00,557.00,517.00,652.00,737.00,554.00,558.00,532.00,623.00,685.00
4,No,0.55,0.57,0.59,0.63,0.59,0.59,0.60,0.69,0.55,...,0.45,0.55,0.50,0.64,0.73,0.54,0.54,0.53,0.61,0.68
5,NSP,9.00,106.00,31.00,43.00,40.00,62.00,23.00,45.00,32.00,...,15.00,42.00,68.00,35.00,58.00,57.00,72.00,15.00,16.00,28.00
6,DK,0.01,0.10,0.03,0.04,0.04,0.04,0.05,0.04,0.03,...,0.01,0.04,0.07,0.03,0.06,0.06,0.07,0.01,0.02,0.03

QC12 Which of the following sources of information would you use in order to get trustworthy information on antibiotics? (MAX. 3 ANSWERS)

In [97]:
Question_12= pd.read_excel(EU_antibiotics, "QC12", skiprows = 7, header = [1])
Question_12= Question_12.drop(["UE28\nEU28", "Unnamed: 0"], axis = 1)
Question_12.rename(columns ={"Unnamed: 1":"Response", "BE": "Belgium", "BG": "Bulgaria", "CZ": "Czech Republic", 
                          "DK": "Denmark", "D-W": "West Germany", "DE": "East Germany", "D-E": "Eastern Germany", "EE": "Estonia", 
                           "IE": "Ireland", "EL" :"Greece" , "ES":"Spain", "FR":"France", "HR":"Croatia", "IT":"Italy","CY":"Cyprus",
                           "LV":"Latvia", "LT": "Lithuania", "LU": "Luxembourg", "HU":"Hungary", "MT":"Malta", "NL":"Netherlands", 
                            "AT":"Austria", "PL": "Poland", "PT":"Portugal", "RO": "Romania", "SI":"Slovenia", "SK":"Slovekia",
                          "FI":"Finland", "SE": "Sweden", "UK":"United Kingdom" }, inplace = True)
Question_12.reset_index(drop = True)
Question_12.head(10)

,Response,Belgium,Bulgaria,Czech Republic,Denmark,West Germany,East Germany,Eastern Germany,Estonia,Ireland,...,Netherlands,Austria,Poland,Portugal,Romania,Slovenia,Slovekia,Finland,Sweden,United Kingdom
0,TOTAL,1018,1040.00,1012.00,1015.00,1006.00,1507.00,501.00,1017.00,1001.00,...,1044.00,1007.00,1034.00,1016.00,1007.00,1018.00,1042.00,1011.00,1011.00,1000.00
1,Un médecin,898,834.00,868.00,890.00,894.00,1331.00,430.00,879.00,841.00,...,902.00,839.00,841.00,871.00,753.00,850.00,846.00,801.00,725.00,902.00
2,A doctor,0.88,0.80,0.86,0.88,0.89,0.88,0.86,0.86,0.84,...,0.86,0.83,0.81,0.86,0.75,0.83,0.81,0.79,0.72,0.90
3,Un(e) infirmier/infirmière,167,99.00,147.00,191.00,53.00,83.00,32.00,224.00,242.00,...,125.00,115.00,135.00,191.00,175.00,154.00,201.00,200.00,305.00,300.00
4,A nurse,0.16,0.09,0.15,0.19,0.05,0.05,0.06,0.22,0.24,...,0.12,0.11,0.13,0.19,0.17,0.15,0.19,0.20,0.30,0.30
5,Une pharmacie,472,291.00,464.00,436.00,444.00,673.00,235.00,362.00,521.00,...,709.00,503.00,257.00,482.00,313.00,476.00,466.00,599.00,486.00,579.00
6,A pharmacy,0.46,0.28,0.46,0.43,0.44,0.45,0.47,0.36,0.52,...,0.68,0.50,0.25,0.47,0.31,0.47,0.45,0.59,0.48,0.58
7,Un hôpital,206,164.00,268.00,283.00,80.00,117.00,36.00,118.00,216.00,...,306.00,269.00,133.00,238.00,193.00,142.00,175.00,172.00,178.00,340.00
8,A hospital,0.2,0.16,0.26,0.28,0.08,0.08,0.07,0.12,0.22,...,0.29,0.27,0.13,0.23,0.19,0.14,0.17,0.17,0.18,0.34
9,Un autre établissement de santé,28,39.00,61.00,30.00,51.00,77.00,26.00,31.00,64.00,...,53.00,82.00,38.00,78.00,46.00,23.00,25.00,47.00,67.00,35.00

QC8 Where did you get this information about not taking antibiotics unnecessarily? (MULTIPLE ANSWERS POSSIBLE)

In [99]:
Question_8= pd.read_excel(EU_antibiotics, "QC8", skiprows = 7, header = [1])
Question_8= Question_8.drop(["UE28\nEU28", "Unnamed: 0"], axis = 1)
Question_8.rename(columns ={"Unnamed: 1":"Response", "BE": "Belgium", "BG": "Bulgaria", "CZ": "Czech Republic", 
                          "DK": "Denmark", "D-W": "West Germany", "DE": "East Germany", "D-E": "Eastern Germany", "EE": "Estonia", 
                           "IE": "Ireland", "EL" :"Greece" , "ES":"Spain", "FR":"France", "HR":"Croatia", "IT":"Italy","CY":"Cyprus",
                           "LV":"Latvia", "LT": "Lithuania", "LU": "Luxembourg", "HU":"Hungary", "MT":"Malta", "NL":"Netherlands", 
                            "AT":"Austria", "PL": "Poland", "PT":"Portugal", "RO": "Romania", "SI":"Slovenia", "SK":"Slovekia",
                          "FI":"Finland", "SE": "Sweden", "UK":"United Kingdom" }, inplace = True)
Question_8.reset_index(drop = True)
Question_8.head(10)

,Response,Belgium,Bulgaria,Czech Republic,Denmark,West Germany,East Germany,Eastern Germany,Estonia,Ireland,...,Netherlands,Austria,Poland,Portugal,Romania,Slovenia,Slovekia,Finland,Sweden,United Kingdom
0,TOTAL,432,176.00,266.00,242.00,428.00,642.00,216.00,368.00,219,...,306.00,373.00,288.00,242.00,142.00,300,257,592.00,477.00,429.00
1,Un médecin vous en a parlé,207,95.00,180.00,120.00,141.00,214.00,74.00,210.00,95,...,61.00,144.00,138.00,72.00,75.00,160,146,235.00,135.00,164.00
2,From a doctor,0.48,0.54,0.68,0.50,0.33,0.33,0.34,0.57,0.44,...,0.20,0.39,0.48,0.30,0.53,0.53,0.57,0.40,0.28,0.38
3,Un pharmacien vous en a parlé,96,35.00,59.00,41.00,60.00,89.00,28.00,58.00,54,...,47.00,63.00,42.00,29.00,40.00,60,59,69.00,41.00,50.00
4,From a pharmacist,0.22,0.20,0.22,0.17,0.14,0.14,0.13,0.16,0.25,...,0.16,0.17,0.15,0.12,0.28,0.2,0.23,0.12,0.09,0.12
5,"Un autre professionnel de la santé (p. ex., un...",24,19.00,30.00,38.00,42.00,55.00,9.00,37.00,17,...,10.00,32.00,16.00,4.00,11.00,35,31,83.00,77.00,36.00
6,From another health professional (e.g. nurse o...,0.06,0.11,0.11,0.16,0.10,0.09,0.04,0.10,0.08,...,0.03,0.09,0.06,0.02,0.07,0.12,0.12,0.14,0.16,0.08
7,Un membre de votre famille ou un ami vous en a...,47,38.00,55.00,38.00,54.00,79.00,24.00,67.00,18,...,26.00,68.00,43.00,22.00,22.00,77,62,131.00,104.00,22.00
8,From a family member or friend,0.11,0.22,0.21,0.16,0.13,0.12,0.11,0.18,0.08,...,0.08,0.18,0.15,0.09,0.15,0.26,0.24,0.22,0.22,0.05
9,Vous l'avez vue dans une publicité à la télévi...,172,36.00,41.00,22.00,36.00,53.00,15.00,33.00,43,...,37.00,53.00,57.00,25.00,27.00,37,24,23.00,39.00,152.00

QC6 When do you think you should stop taking antibiotics once you have begun a course of treatment?

In [100]:
Question_6= pd.read_excel(EU_antibiotics, "QC6", skiprows = 7, header = [1])
Question_6= Question_6.drop(["UE28\nEU28", "Unnamed: 0"], axis = 1)
Question_6.rename(columns ={"Unnamed: 1":"Response", "BE": "Belgium", "BG": "Bulgaria", "CZ": "Czech Republic", 
                          "DK": "Denmark", "D-W": "West Germany", "DE": "East Germany", "D-E": "Eastern Germany", "EE": "Estonia", 
                           "IE": "Ireland", "EL" :"Greece" , "ES":"Spain", "FR":"France", "HR":"Croatia", "IT":"Italy","CY":"Cyprus",
                           "LV":"Latvia", "LT": "Lithuania", "LU": "Luxembourg", "HU":"Hungary", "MT":"Malta", "NL":"Netherlands", 
                            "AT":"Austria", "PL": "Poland", "PT":"Portugal", "RO": "Romania", "SI":"Slovenia", "SK":"Slovekia",
                          "FI":"Finland", "SE": "Sweden", "UK":"United Kingdom" }, inplace = True)
Question_6.reset_index(drop = True)
Question_6.head(10)

,Response,Belgium,Bulgaria,Czech Republic,Denmark,West Germany,East Germany,Eastern Germany,Estonia,Ireland,...,Netherlands,Austria,Poland,Portugal,Romania,Slovenia,Slovekia,Finland,Sweden,United Kingdom
0,TOTAL,1018,1040.00,1012,1015.00,1006.00,1507.00,501,1017,1001,...,1044,1007.00,1034.00,1016,1007,1018.00,1042,1011.00,1011,1000
1,Quand vous vous sentez mieux,173,219.00,85,96.00,76.00,123.00,53,107,136,...,60,167.00,176.00,132,200,122.00,207,63.00,37,89
2,When you feel better,0.17,0.21,0.09,0.10,0.08,0.08,0.11,0.11,0.14,...,0.06,0.17,0.17,0.13,0.2,0.12,0.2,0.06,0.04,0.09
3,Quand vous avez pris tous les antibiotiques te...,837,732.00,923,883.00,879.00,1316.00,437,859,848,...,975,803.00,817.00,870,781,869.00,801,930.00,964,901
4,When you have taken all of the antibiotics as ...,0.82,0.70,0.91,0.87,0.87,0.88,0.87,0.84,0.85,...,0.93,0.80,0.79,0.86,0.78,0.85,0.77,0.92,0.95,0.9
5,Autre (SPONTANÉ),1,16.00,2,13.00,14.00,19.00,3,2,2,...,5,11.00,7.00,1,5,8.00,1,5.00,1,2
6,Other (SPONTANEOUS),-,0.02,-,0.01,0.01,0.01,-,-,-,...,0.01,0.01,0.01,-,-,0.01,-,0.01,-,-
7,NSP,8,73.00,3,23.00,37.00,49.00,8,49,15,...,4,26.00,34.00,13,21,18.00,33,12.00,9,8
8,DK,0.01,0.07,-,0.02,0.04,0.03,0.02,0.05,0.01,...,-,0.02,0.03,0.01,0.02,0.02,0.03,0.01,0.01,0.01